name: "Publish"

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      new-release:
        type: boolean
        default: false
        description: Set to true to create a new GitHub release

# On each push to the `main` branch it will create or update a GitHub release, build your app, and upload the artifacts to the release.

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
            src-tauri
      - name: Install WASM
        run: rustup target add wasm32-unknown-unknown
      - uses: jetli/trunk-action@v0.4.0
      - name: Install dependencies (Linux only)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          libwebkit2gtk-4.1-dev \
          build-essential \
          curl \
          wget \
          file \
          libxdo-dev \
          libssl-dev \
          libayatana-appindicator3-dev \
          librsvg2-dev

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          includeRelease: ${{ github.event.inputs.new-release }}
          tagName: v__VERSION__ # the action automatically replaces "__VERSION__" with the app version
          releaseName: "v__VERSION__"
          releaseBody: "Draft"
          releaseDraft: true
          prerelease: false
